@* Visar statistikdata (antal värkar per 10 min, medelvila, medellängd).

Får all data som @Parameter från föräldern (ContractionTimer). *@

<div class="information">
    <p class="info-amount">@ContractionsPerTenMinutes antal värkar per <strong>10</strong> minuter</p>
    <p class="info-length"> Värken varaktig i <strong>@AverageDuration</strong> minuter</p>
     
    @*<p class="info-rest">@AverageRestTime minuter mellan värkar</p> *@
</div>

@code {
    [Parameter] public double ContractionsPerTenMinutes { get; set; }
    [Parameter] public double AverageRestTime { get; set; }
    [Parameter] public double AverageDuration { get; set; }

}
