@page "/"
@using BabyKlockan_3.Models

<PageTitle>BabyKlockan</PageTitle>

    <section class="contractionTimer">


        <div class="container">
            <div class="flex-row">
                <img class="logotype" src="/images/logotyp_.png" alt="Logotyp" />
                 <h1>BabyKlockan</h1>

            </div>
        <div class="stopwatch">   
            <BabyKlockan_3.Pages.ContractionTimer />

            </div>
        </div>
    </section>

    @code {


    }
