@page "/"

<PageTitle>Index</PageTitle>


    <section class="contractionTimer">
        <div class="container">
    <h1>BabyKlockan</h1>
        <div class="stopwatch">   
            <BabyKlockan_3.Pages.ContractionTimer />
            </div>
         



     @* <BabyKlockan_3.Pages.ContractionList /> *@


        </div>
    </section>

    @code {

    }
