@page "/"

<PageTitle>Index</PageTitle>


    <section class="contractionTimer">
        <div class="container">
    <h1>BabyKlockan</h1>
        <div class="stopwatch">   
            <BabyKlockan_3.Pages.ContractionTimer />
            </div>
         
            

            <div class="information">
                    <p class="info-amount">X antal värkar per minuter</p>
                    <p class="info-rest">X minuter mellan värkar</p>
                    <p class="info-length">Värken varaktig i X minuter</p>
            </div>
        <BabyKlockan_3.Pages.ContractionList />


        </div>
    </section>
